*.py[cod]
*.xlsx
*.gz
*.log
*.zip
*.csv


*.ipynb_checkpoints
*.ipynb
__pycache__/
.DS_Store

Untitled*
tmp*
notes*
*config.py
*configs.py
agg_analysis/myconfigs.py

project_dev/

scp_zip.sh
pi_files.sh